body {
  display: flex;
  background-color: #eeeeee;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  width:50vw;
  background: #ffd479;
  background: linear-gradient(#fffc43, #ffd479);
  flex-grow: 1;
}
